<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.uk.tusksolutions.tchat.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> -->

    <application
        android:name="co.uk.tusksolutions.tchat.android.TChatApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Tchat"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name="co.tusksolutions.tchat.android.activities.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="co.tusksolutions.tchat.android.activities.BootStrapActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.uk.tusksolutions.tchat.android.fragments.RecentsFragment"
            android:label="@string/title_activity_recents_fragment" >
        </activity>
        <activity
            android:name="co.uk.tusksolutions.tchat.android.fragments.GroupsFragment"
            android:label="@string/title_activity_groups_fragment" >
        </activity>
        <activity
            android:name="co.uk.tusksolutions.tchat.android.activities.ChatActivity"
            android:noHistory="true" >
        </activity>

        <!-- Receivers -->
        <receiver
            android:name="co.uk.tusksolutions.tchat.android.receivers.BootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="co.uk.tusksolutions.tchat.android.receivers.GenericBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="co.uk.tusksolutions.tchat.android.action.CONNECTION_LOST_IN_ERROR" />
            </intent-filter>
            <intent-filter>
                <action android:name="co.uk.tusksolutions.tchat.android.action.CONNECTION_LOST_BY_USER_ACTION" />
            </intent-filter>
            <intent-filter>
                <action android:name="co.uk.tusksolutions.tchat.android.action.RECONNECTING" />
            </intent-filter>
            <intent-filter>
                <action android:name="co.uk.tusksolutions.tchat.android.action.RECONNECTING_FAILED" />
            </intent-filter>
            <intent-filter>
                <action android:name="co.uk.tusksolutions.tchat.android.action.RECONNECTION_SUCCESSFULL" />
            </intent-filter>
        </receiver>

        <!-- Services -->
        <service
            android:name="co.uk.tusksolutions.tchat.android.services.MainService"
            android:enabled="true" />
        <service
            android:name="co.uk.tusksolutions.tchat.android.xmpp.XMPPConnectionManager"
            android:enabled="true" />

        <activity
            android:name="co.tusksolutions.tchat.android.activities.ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name="co.tusksolutions.tchat.android.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
    </application>

</manifest>